{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4><i class="bi bi-person"></i> Profile</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <h5>Personal Information</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">First Name</label>
                            {{ user_form.first_name }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Last Name</label>
                            {{ user_form.last_name }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ user_form.email }}
                    </div>
                    
                    <hr>
                    <h5>Additional Information</h5>
                    
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        {{ profile_form.phone }}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        {{ profile_form.address }}
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}